*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  
  --brand-primary: hsl(213, 66%, 79%);
  --brand-secondary: hsl(196, 100%, 98%);
  --color-title: hsl(240, 6%, 13%);
  --color-text: hsl(240, 5%, 7%);
  --color-white: hsl(0, 0%, 100%);

  --color-text-search:hsl(195, 46%, 40%);
}
html, input, h1, p {
  font: 400 1.6rem/160% "Mulish", sans-serif;
  color: var(--color-text);
}

h1, h2, h3 {
font-size: 2.4rem;

color: var(--color-title);
}
h3 {
  font-size: 1.8rem;
  line-height: 100%;
}
.image-principal {
  width: 100%;
  height: auto;
}
.items-wrapper {
  padding-inline: 2.2rem;
  max-width: calc(39.2rem + (2.2rem * 2));
  margin-inline: auto;

  margin-top: 2.0rem;
}
header{
  background-color: var(--brand-primary);
  padding: 1.2rem 2.8rem;
}

header .container {
  max-width: 37.4rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}
header a {
  line-height: 0;
}
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.4rem;

  background-color: var(--brand-secondary);
  border: none;
  border-radius: .4rem;

  font-weight: 600;
  line-height: 100%; 
  
  color: var(--color-text-search);
}
.input-wrapper input::placeholder {
  color: var(--color-text-search);
  opacity: 0.8;
}
.avatar {
  width: 4.1rem;
  height: 4.0rem;

  object-fit: cover;
  border-radius: 50%;
}

/* Main */

main h1 {
  margin-top: 2.0rem;
  font-weight: bold;
  
}
main .buttons {
  margin-top: 2.2rem;
}
button {
  all: unset;

  transition: all 200ms;
}
button:hover {
  transform: scale(1.1);
}
p {
  margin-top: 1.2rem;
  padding-bottom: 3.4rem;
  
}

/*sidebar*/
aside {
  margin-top: 2rem;
}
aside section {
  margin-top: 3.2rem;

  display: grid;
  gap: 1rem;
}
section article {
  display: grid;

  grid-template-columns: 15rem 1fr;
  gap: 1.6rem;
}
section article p {
  margin-top: .5rem;

  font-size: 1.4rem;
}
article img {
  width: 151px;
  height: 84px;

  border-radius: .5rem;
}


/*footer*/
footer{
  width: 100%;
 
  background-color: var(--brand-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {  
  padding: 1.6rem;
  font-weight: 600; 
  color: var(--color-text-search);
}

@media (width > 1280px) {
  img {
    border-radius: 5px;
  }
  #app {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    gap: 4rem 4.5rem;
  }
  header .container,
  .container {
    max-width: initial;
    margin-inline: initial;
    margin: initial;
    padding: initial;
  }
  .items-wrapper{
    max-width: initial;
    margin: initial;
    margin-inline: initial;
    padding: 4.4rem 3.4rem 3.9rem 10.9rem;

  }
  header {
    grid-area: header;
  }
  header .container {
    max-width: 121.7rem;
    margin-inline: auto;
  }
  header form {
    flex: 1;
  }
  header form input {
    width: 100%;

  }
  main {
    grid-area: main;
  }
  main .items-wrapper p{
    max-width: 8.0rem;
    margin-left: auto;
  }
  main .image-principal {
    width: 803px;
    height: 405px;
  }
  aside {
    grid-area: aside;
  }
  aside .items-wrapper {
   max-width: 38.4rem;     
       
  }
  footer {
    grid-area: footer;
  }
}





